
.category{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    justify-content: center;
} 

.category .item{
    display: flex;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 15px;
    align-items: center;
    transition: transform 0.3s ease;

  
}

.category .item:hover {
    transform: scale(1.05);
  }

  .category .item img{
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 25px;
}






